<table class="table table-condensed">
  <thead>
    <tr>
      <th>Primary Applicant</th>
      <th>Applicant Ct</th>
      <th>Market</th>
      <th>Submitted At</th>
    </tr>
  </thead>
    <tbody>
      <%= table_empty_to_human if application_groups.count < 1 %>
      <% application_groups.each do |ag| %>
      <tr>
        <% label_ref = "#{ag.id} - #{ag.primary_applicant.id}" %>
        <% label_ref = ag.primary_applicant.person.full_name if (!ag.primary_applicant.blank? && !ag.primary_applicant.person.blank? && !ag.primary_applicant.person.full_name.blank?) %>
        <td><%= link_to prepend_glyph_to_name(label_ref), application_group_path(ag) %> </td>
        <td><%= ag.active_applicants.size %></td>
        <td><%#= ag.hbx_enrollments.size %></td>
        <td><%= ag.submitted_at %></td>
      </tr>
    </tbody>
  <% end %>
  </table>

